.oswald-embed {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    height: 30vh;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    flex-direction: column;
    font-family: embed;
    font-size: large;
    color: rgb(0, 0, 0);
    background: linear-gradient(to left , #8a8a8a88 0%, #36393abe 100%);
}
button{
    width: 10%;
    height: 15%;
    font-size: larger;
    font-weight: 300;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: none;

}
.scale{
    transition: all 0.25s;
}
.scale::after {
    transition: all 0.25s;
}
.scale:hover {
    transform: scale(1.22);
}
.scale:hover::after {
    transform: scale(1);
}

nav{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.contact{
    color: white;
}